## 1. Importing Basic Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize 
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer

import string
import re

In [3]:
# Importing Dataset (.csv)

fake = pd.read_csv("./Dataset/Fake.csv")
true = pd.read_csv("./Dataset/True.csv")

# Creating labels for each category of fake news

fake["label"] = "fake"
true["label"] = "true"

fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [4]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

### Combining both datasets into one

In [5]:
dataset = pd.concat([fake,true]).reset_index(drop = True)

# Removing unneded columns (maybe)
dataset.drop (['title','date','subject'], axis = 1, inplace =True)


dataset.head()

                                                text label
0  Donald Trump just couldn t wish all Americans ...  fake
1  House Intelligence Committee Chairman Devin Nu...  fake
2  On Friday, it was revealed that former Milwauk...  fake
3  On Christmas day, Donald Trump announced that ...  fake
4  Pope Francis used his annual Christmas Day mes...  fake

In [6]:

'''

Merged dataset with counts of labelled news 
dropna = false shows the values that are empty

'''

dataset.label.value_counts(dropna = False)

fake    23481
true    21417
Name: label, dtype: int64

## 2. Dataset Preprocessing

### Converting to lowercase

In [7]:

dataset['cleaned'] = dataset['text'].apply(lambda word:word.lower())

## Rearranging dataset columns

column_names = ["text","cleaned", "label"]
dataset = dataset.reindex(columns=column_names)
dataset.head()

,text,cleaned,label
0,Donald Trump just couldn t wish all Americans ...,donald trump just couldn t wish all americans ...,fake
1,House Intelligence Committee Chairman Devin Nu...,house intelligence committee chairman devin nu...,fake
2,"On Friday, it was revealed that former Milwauk...","on friday, it was revealed that former milwauk...",fake
3,"On Christmas day, Donald Trump announced that ...","on christmas day, donald trump announced that ...",fake
4,Pope Francis used his annual Christmas Day mes...,pope francis used his annual christmas day mes...,fake

### Removing Punctuations

In [8]:
def remove_punc(text):
    nopunc = "".join([a for a in text if a not in string.punctuation])
    return nopunc

In [9]:
dataset['cleaned'] = dataset['cleaned'].apply(lambda x: remove_punc(x))
dataset.head()

,text,cleaned,label
0,Donald Trump just couldn t wish all Americans ...,donald trump just couldn t wish all americans ...,fake
1,House Intelligence Committee Chairman Devin Nu...,house intelligence committee chairman devin nu...,fake
2,"On Friday, it was revealed that former Milwauk...",on friday it was revealed that former milwauke...,fake
3,"On Christmas day, Donald Trump announced that ...",on christmas day donald trump announced that h...,fake
4,Pope Francis used his annual Christmas Day mes...,pope francis used his annual christmas day mes...,fake

### Removing Numbers

In [10]:
def remove_num(text):
    nonum = "".join([i for i in text if not i.isdigit()])
    return nonum

In [11]:
dataset['cleaned'] = dataset['cleaned'].apply(lambda x: remove_num(x))
dataset.head()

,text,cleaned,label
0,Donald Trump just couldn t wish all Americans ...,donald trump just couldn t wish all americans ...,fake
1,House Intelligence Committee Chairman Devin Nu...,house intelligence committee chairman devin nu...,fake
2,"On Friday, it was revealed that former Milwauk...",on friday it was revealed that former milwauke...,fake
3,"On Christmas day, Donald Trump announced that ...",on christmas day donald trump announced that h...,fake
4,Pope Francis used his annual Christmas Day mes...,pope francis used his annual christmas day mes...,fake

### Tokenization

In [12]:
tokenizer = RegexpTokenizer('\w+')

In [13]:
dataset['cleaned'] = dataset['cleaned'].apply(lambda x: tokenizer.tokenize(x))
dataset['cleaned'].head()

0    [donald, trump, just, couldn, t, wish, all, am...
1    [house, intelligence, committee, chairman, dev...
2    [on, friday, it, was, revealed, that, former, ...
3    [on, christmas, day, donald, trump, announced,...
4    [pope, francis, used, his, annual, christmas, ...
Name: cleaned, dtype: object

### Stopword Removal

In [14]:

stopwords = set(nltk.corpus.stopwords.words('english'))

def clean_stopwords(text):
    for word in text:
        if word in stopwords:
            text.remove(word)
    return text

In [15]:
dataset['cleaned'] = dataset['cleaned'].apply(lambda x: clean_stopwords(x))
dataset['cleaned'].head()

0    [donald, trump, wish, americans, happy, new, y...
1    [house, intelligence, committee, chairman, dev...
2    [friday, revealed, former, milwaukee, sheriff,...
3    [christmas, day, donald, trump, announced, wou...
4    [pope, francis, used, annual, christmas, day, ...
Name: cleaned, dtype: object

### Meeting Notes 9/9/2020
* split dataset 70/30 and randomise 
* find possibility to merge classifiers 
* then compare it with another dataset 

9/9/2020

### Lemmatization

In [16]:
lemm = WordNetLemmatizer()

def lem_text(text):
    lem_text ="".join([lemm.lemmatize(w) for w in text])
    return lem_text

In [17]:
dataset['cleaned'] = dataset['cleaned'].apply(lambda x: lem_text(x))
dataset['cleaned'].head()

0    donaldtrumpwishamericanhappynewyearleaveinstea...
1    houseintelligencecommitteechairmandevinnunesgo...
2    fridayrevealedformermilwaukeesheriffdavidclark...
3    christmasdaydonaldtrumpannouncedwouldbackworkf...
4    popefrancisusedannualchristmasdaymessagerebuke...
Name: cleaned, dtype: object

## 3. Split Test/Train data

In [18]:
# The dataset shall be then split into train/test data using sklearn 
# Manipulated variable = 'cleaned' column
# Responsiding variable = 'label' ccolumn

from sklearn.model_selection import train_test_split

x = dataset.cleaned 
y = dataset.label

xTrain,xTest,yTrain,yTest = train_test_split(x, y, test_size = 0.2, random_state = 42, shuffle = True)

## 4. Feature Extraction

### Generating POS tags

In [19]:
def pos_tags(text):
    postag = nltk.pos_tag(text)
    return postag

In [20]:
xTrainPOS = xTrain.apply(pos_tags)
print (xTrainPOS.head())

36335    [(a, DT), (t, NN), (h, NN), (e, NN), (n, JJ), ...
12384    [(t, NN), (e, NN), (d, NN), (c, NN), (r, NN), ...
24419    [(w, VB), (a, DT), (s, JJ), (h, NN), (i, NN), ...
24740    [(d, NN), (u, NN), (b, IN), (a, DT), (i, NN), ...
27039    [(s, NN), (i, NN), (g, VBP), (o, JJ), (n, JJ),...
Name: cleaned, dtype: object

### TF-IDF

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

## Generating CountVectors

countVec = CountVectorizer()

xTrainCount = countVec.fit_transform(xTrain)
xTrainCount.shape

(35918, 31563)

After generating word counts, the xTrain shape concludes that there are 35918 rows and 31957 columns in the split dataset (xTrain)

In [22]:
## Generating TF-IDF vectors

tfIdf = TfidfTransformer()
xTrainTfIdf = tfIdf.fit_transform(xTrainCount)
xTrainTfIdf.shape

(35918, 31563)

### N-Grams

## 5. Modelling

### 5.1 Evaluation Metrics 

Several evaluation metrices shall be used:
1. Model Score (Accuracy)
1. Precision Score
1. F1- Score 
1. Recall Score

In [23]:
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

### Logistic Regression Modelling

In [24]:
from sklearn.pipeline import Pipeline 
from sklearn.linear_model import LogisticRegression

LRModel = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])

LRModel.fit(xTrain, yTrain)

prediction = LRModel.predict(xTest)
cm = confusion_matrix(yTest, prediction)

In [25]:
print (cm)
print(classification_report(yTest, prediction))

[[4733    0]
 [4094  153]]
              precision    recall  f1-score   support

        fake       0.54      1.00      0.70      4733
        true       1.00      0.04      0.07      4247

    accuracy                           0.54      8980
   macro avg       0.77      0.52      0.38      8980
weighted avg       0.76      0.54      0.40      8980

### SVM Modelling

In [26]:
from sklearn.svm import SVC, LinearSVC

ml_pipeline = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LinearSVC())])

### Multinomial NB

In [27]:
from sklearn.naive_bayes import MultinomialNB